@model ClothBazar.Entities.EditProductVeiwModel

@{
    ViewBag.Title = "Edit";
    var img = !string.IsNullOrEmpty(Model.imgUrl) ? Model.imgUrl : "/Content/images/pattern/3.png";
}

<h2>Edit</h2>


<form id="editTable">
    <input type="hidden" name="Id" value="@Model.Id"></input>

    <div class="row">

        <div class="col-md-8">

            <div class="form-group">
                <label>Catagories</label>
                <select class="form-control" name="catagoryId">

                    @foreach (var catagory in Model.AvailableCatagory)
                    {
                        <option value="@catagory.Id">@catagory.name</option>
                    }

                </select>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" value="@Model.name" /><br />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" value="@Model.Description"  /><br />
            </div>

            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="Price" value="@Model.price"/><br />
            </div>

            <label>Image</label>
            <input name="imgURL" id="imageURL" type="hidden" />
            <input type="file" accept=".png,.jpg" name="image" id="imageUpload" /><br />


            <button id="updatebtn" class="btn btn-primary" type="button">Update</button>
            <button id="cancelbtn" class="btn btn-primary" type="button">Cancel</button>
        </div>


        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" name="imgUrl" src="@img" />
            </div>
        </div>

    </div>

    @*<div class="row">

        </div>
        <label>Name</label>
        <input name="name" value="@Model.name" /><br />

        <label>Description</label>
        <input name="Description" value="@Model.Description" /><br />

        <label>Price</label>
        <input name="Price" value="@Model.price" /><br />

        <label>ImageUrl</label>
        <input name="imgUrl" id="imageURL" type="hidden"  />
        <input type="file" accept=".png,.jpg" name="image" id="imageUpload" /><br />

        <button id="updatebtn" type="button">Update</button>
        <button id="cancelbtn" class="btn btn-primary" type="button">Cancel</button>



        <div class="thumb">
            <img class="img-thumbnail img-fluid" id="productImage" name="imgUrl" src="@img" />
        </div>*@
</form>

<script>

    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: '/Shared/UploadImages',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                //alert(response);
                console.log(response);
                if (response.Success) {

                    $("#imageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });

    $("#updatebtn").click(function () {
        $.ajax({
            type: "POST",
            url: '/Product/Edit',
            data: $("#editTable").serialize()
        })
            .done(function (response) {
                alert(response);
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
    $("#cancelbtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });

</script>

